name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: GitHub Action for SwiftLint with --strict
      uses: norio-nomura/action-swiftlint@3.2.1
      with:
        args: --strict

  tests:
    runs-on: macos-15

    steps:
    - uses: actions/checkout@v4

    - name: Run Xcode tests
      run: xcodebuild
        -skipPackagePluginValidation
        -skipMacroValidation
        -project dmenu-mac.xcodeproj
        -scheme dmenu-mac
        -configuration Debug
        test

  build:
    runs-on: macos-15

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: xcodebuild
        -skipPackagePluginValidation
        -skipMacroValidation
        -scheme dmenu-mac
        -archivePath dmenu-mac.xcarchive archive

    - name: Package
      run: xcodebuild
        -exportArchive
        -archivePath dmenu-mac.xcarchive
        -exportOptionsPlist mac-application-archive.plist
        -exportPath .

    - name: Compress
      run: zip -r dmenu-mac.zip dmenu-mac.app

    - uses: actions/upload-artifact@v4
      with:
        name: dmenu-mac.zip
        path: dmenu-mac.zip

    - name: Release
      if: startsWith(github.ref, 'refs/tags/')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_USER: "user"
      run: hub release edit ${GITHUB_REF//refs\/tags\//} -a dmenu-mac.zip -m ''
